/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

@import "bootstrap.css";

 #myTable {
   border-collapse: collapse;
   border: none !important;
 }

.header th {
  border: none;
}

.table-h4 {
  color: #fff;
}

.header th {
  color: #fff !important;
}

.btn-primary {
  background-color: #4daaf2;
  border-color: #4daaf2;
  border-radius: 10px;
}
 .scc_entry td{
   border: none;
   vertical-align: middle;
 }

 .scc_entry {
   height: 120px;
 }

 .scc_entry a {
   text-align: center;
   margin: auto;
 }

 .scc_entry:nth-child(even){
   background: #4daaf2;
   color: #ffffff;
 }
 .scc_entry:nth-child(odd){
   background: #fafafa;
   color: #4daaf2;
 }

.scc_entry:nth-child(even) button {
  background: #fafafa;
  color: #4daaf2;
  border-color: #fafafa;
}

.scc_entry:nth-child(even) button:hover {
  background: #dadada;
  border-color: #dadada;
}

.scc_entry:nth-child(even) a {
  color: #fff;
}

.scc_entry:nth-child(even) a:hover {
  color: #dadada;
}


 #myInput {
   background-image: url('/css/searchicon.png'); /* Add a search icon to input */
   background-position: 10px 12px; /* Position the search icon */
   background-repeat: no-repeat; /* Do not repeat the icon image */
   width: 25%; /* Full-width */
   font-size: 16px; /* Increase font-size */
   padding: 12px 20px 12px 40px; /* Add some padding */
   border: 1px solid #ddd; /* Add a grey border */
   margin-bottom: 12px; /* Add some space below the input */
 }
